<footer class="footer">
  <div class="has-text-centered">
    <layer>
      {{ if .Site.Menus.social }}
        {{ if .Site.Params.fontawesomeToken }}
          {{ range .Site.Menus.social }}
          <a class="footer-social" href="{{ .URL }}">{{ .Pre }}</a>
          {{ end }}
        {{ else }}
          {{ range .Site.Menus.social }}
          <a class="footer-social" href="{{ .URL }}">{{ .Name }}</a>
          {{ end }}
        {{ end }}
      {{ end }}
    </layer>
    <layer>
      <p>
         &copy; {{ now.Format "2006"}} {{ .Site.Params.author}}
      </p>
    </layer>
  </div>
</footer>
